# Official registry with https only
registry=https://registry.npmjs.org/
fund=false

# Disable scripts for security regarding supply chain attacks
ignore-scripts=true

# Package signatures locks
package-lock=true

# Audit settings
audit-level=moderate
audit=true

# Block automatic updates to package-lock.json
save-exact=true

global=false